@import url(http://fonts.googleapis.com/css?family=Playball);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  height: 100%;
  font-family: Open Sans, Arial, sans-serif;
}

body{
    padding-top:38px;
}

h1,h2,h3,h4 {
  font-family: Playball, Arial, sans-serif;
}

p{
  font-size: 113%;
}

#nbdrop-logo {
  background: url("../img/logo_small_75.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 80px;
  width: 260px;
  position: absolute;
  top: 90px;
  left: 60px;
  z-index: 2;
  border-radius: 15px;
  background-color: #fff;
}

.navbar-nav{
  font-family: Open Sans, sans-serif;
}

.navbar-default{
  background-color: #fff;
}

.postbox{
  margin-top: 5px;
}

#footer {
  height: 90px;
  background-color: #564567;
  border-top: 1px solid #ddd;
  padding-top: 20px;
  width:100%;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: /*"\e113"*/ "\e151";
}

a.desc:after {
  content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.map-logo {
  border-radius: 15px;
  background-color: #fff;
  position: absolute;
  top: 90px;
  right: 50px;
  z-index: 1;
}

#slide1{
  background-color: #3bd1b7;
  padding: 10px 10px 10px 10px;
}

.fg_white{
  color: #fff;
}
